
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:700|Open+Sans:300,400&display=swap');
$titleFonts: 'Crimson Text', serif;
$bodyFonts: 'Open Sans', sans-serif;
@import "mixins.scss";
@import "internal.scss";
a{
	color:white;
	text-decoration: none;
	&:hover{
		color:darken(white, 20%);
	}
}
.img-responsive{
	max-width:100%;
	height:auto;
}

html{
	height:100%;

}
body{
	font-family:$bodyFonts;
	margin:0;
	height:100%;
	font-weight:300;
}
.home-page-wrapper{
		padding-bottom:50px;
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ebebeb+100 */
		background-repeat: no-repeat;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #ebebeb 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #ffffff 0%,#ebebeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}
h1, h2, h3, h4, h5{
	font-family:$titleFonts;

}

.container{
	margin:0 auto;
	max-width:1600px;
	padding:10px;
}

nav{
	@include display-flex;
	.logo-section{
		@include flex(1 1 50%);
		.svg-logo{
			width:122px;
			height:auto;
			display: inline-block;
		}
		.name-title{
			display:inline-block;
			position:relative;
			top:-10px;
			left:10px;
			h3{
				margin:0;
				font-size:3rem;
				margin-bottom:-10px;
			}
			p{
				margin:0;
				font-size:1.2rem;
			}
		}
	}
	.links-section{
		@include flex(1 1 50%);
		@include display-flex;
		@include justify-content(flex-end);
		@include align-items(center);
		a{
			color:black;
			&:hover{
				color:lighten(black, 10%);
			}
		}
		ul{
			list-style-type: none;
			margin:0;
			padding:0;
			
			li{
				display: inline;
				list-style:none;
				font-family:$titleFonts;
				font-weight:700;
				font-size:1.2rem;
				margin-left:40px;
				color:black;

			}
		}
	}
}

  
section.home-hero{
	@include display-flex;
	margin-top:100px;
	margin-bottom:100px;

	.container{
		@include flex(1 1 100%);
			text-align: center;
		h1{
			font-size:5rem;
			margin-bottom:0px;
		}
		p{
			font-size: 2.5rem

		}
	}
}


section.portfolio{
	a{
		color:black;
	}
	.container{
		@include display-flex;
		@include flex-wrap(wrap);
		.heading{
			@include flex(0 0 100%);
			padding-left:10px;
		}
		.items-wrapper{
			@include flex(0 0 100%);
			@include display-flex;
			@include flex-wrap(wrap);
			padding:5px;
			.item{
				@include flex(0 0 24%);
				margin:5px;

				.card-wrapper{
					width:100%;
					.card-image{
						background-color:black;
						@include display-flex;
						@include justify-content(center);
						@include align-items(center);
						border-top-right-radius: 10px;
						border-top-left-radius: 10px;
						-webkit-box-shadow: 2px 2px 4px 0px rgba(184,184,184,0.57);
						-moz-box-shadow: 2px 2px 4px 0px rgba(184,184,184,0.57);
						box-shadow: 2px 2px 4px 0px rgba(184,184,184,0.57);
						cursor: pointer;
						&:hover{
							.logo{
								max-width:230px;
								transition: .3s ease-in-out;
								-moz-transition: .3s ease-in-out;
								-webkit-transition: .3s ease-in-out;
							}
						}

						.logo{
							position:absolute;
							max-width:250px;
							width:100%;
							z-index: 2;

						}
						.faded{
							max-width: 100%;
							height:auto;
							opacity: 0.3;
							transition: opacity .5s ease-in-out;
							-moz-transition: opacity .5s ease-in-out;
							-webkit-transition: opacity .5s ease-in-out;
							border-top-right-radius: 10px;
							border-top-left-radius: 10px;
							// &:hover{
							// 	opacity: 0.5;
							// }
						}

					}
					.card-text{
						background: white;
						padding: 10px;
						-webkit-box-shadow: 2px 2px 4px 0px rgba(184,184,184,0.57);
						-moz-box-shadow: 2px 2px 4px 0px rgba(184,184,184,0.57);
						box-shadow: 2px 2px 4px 0px rgba(184,184,184,0.57);
						margin-bottom:10px;
						border-bottom-left-radius: 10px;
						border-bottom-right-radius: 10px;
						h4{
							margin:0;
							font-size:1.5rem;
						}
						p{
							margin:0;
						}
					}
				}

			}
		}
	}
}


footer{
	background-color:black;
	text-align: center;
	color:white;
	padding-top:50px;
	padding-bottom:50px;
	h2{
		font-size:2.5rem;
		margin-bottom:15px;
		margin-top:0;
	}
	p{
		font-size:1rem;
		margin:0;
		margin-bottom:25px;
	}
	.social{
		max-width:50px;
		margin:0;
	}
}





@media (max-width: 1300px) {
	section.portfolio{

		.container{
			.items-wrapper{
				.item{
					.card-wrapper{
						.card-image{
							.logo{
							}
						}
					}
				}
			}
		}
		
	}


}

@media (max-width: 1250px) {
	section.home-hero{
		.container{
			h1{
				font-size:4rem;

			}
			p{
				font-size:2rem;
			}
		}
	}
	section.portfolio{
		.container{
			.items-wrapper{
				.item{
					@include flex(0 0 32%);
					.card-wrapper{
						.card-text{
							h4{
								font-size:1.2rem;
							}
							p{
								font-size:1rem;
							}
						}
					}
				}
			}
		}
	}
}




@media (max-width: 900px) {
	section.home-hero{
		.container{
			h1{
				font-size:3rem;

			}
			p{
				font-size:1.5rem;
			}
		}
	}
	section.portfolio{
		.container{
			.items-wrapper{
				.item{
					@include flex(0 0 48%);
					.card-wrapper{
						.card-text{
							h4{
								font-size:1.2rem;
							}
							p{
								font-size:1rem;
							}
						}
					}
				}
			}
		}
	}
}





@media (max-width: 600px) {
	section.home-hero{
		.container{
			h1{
				font-size:3rem;

			}
			p{
				font-size:1.5rem;
			}
		}
	}
	section.portfolio{
		.container{
			.items-wrapper{
				.item{
					@include flex(0 0 47%);
					.card-wrapper{
						.card-image{
							.logo{
								max-width:180px;
							}
						}
						.card-text{
							h4{
								font-size:1rem;
							}
							p{
								font-size:.8rem;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 460px) {
	section.portfolio{
		.container{
			.items-wrapper{
				padding:0;
				.item{
					@include flex(0 0 100%);
					margin:0;
					.card-wrapper{
						.card-image{
							.logo{
								max-width:180px;
							}
						}
						.card-text{
							h4{
								font-size:1rem;
							}
							p{
								font-size:.8rem;
							}
						}
					}
				}
			}
		}
	}
}








.nav-wrapper{
    position: relative;
    width:100%;
}
.sticky{
    position:fixed;
    top:0;
    z-index:5;
}
#open-popup{
    cursor:pointer;
}
.nav{
	width:100%;
	@include display-flex;
	@include flex-direction(row);
	@include flex-wrap(wrap);
    margin:0 auto;
    @include align-items(center);

}


.nav .nav-links{
    @include flex(1 1 50%);
    text-align: right;
    @include justify-content(flex-end);
    visibility: visible;
    opacity: 1;
}
.nav .nav-links ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav .nav-links ul li .nav-button{
    border-radius: 20px;
    padding:10px 30px;
    color:white;
    font-weight:400;
}
.nav-wrapper .toggle-nav-links{
    display:none;
}



@media screen and (max-width: 1250px) {
	nav{
		.logo-section{
			.svg-logo{
				max-width:80px;
				width:100%;
			}
			.name-title{
				top:-6px;
				h3{
					font-size:2rem;
				}
				p{
					font-size:1rem;
				}
			}
		}
	}



}



@media screen and (max-width: 768px) {
	nav{
		.logo-section{
			padding:10px;
			@include flex(1 1 100%);
		}
	}
    .nav{
          .nav-brand{
          	width:100%;
          }
    }
    .nav-wrapper{
        position:absolute;
        margin-top:0;
        top:0;
        left:0;
    }
    .nav .nav-links ul li {
        display:block;
        margin-right:0;
        text-align: center;
    }
    .nav .nav-links ul {
        margin-right:0;
    }
    .nav-wrapper .toggle-nav-links{
        display:block;
        position:absolute;
        right:20px;
        top:12px;
        font-size:2em;
        z-index:20;
        cursor:pointer;
    }
    .nav .nav-links{
        max-height:0;
        overflow:hidden;
        display:block;
        ul{
        	li{
        		margin-left:0;
        		padding:10px;
        		font-size:2rem;
        	}
        }

    }
    .nav .nav-fade-in{
        overflow:hidden;
        transition:max-height 0.1s ease-out; 
        height:auto;
        max-height:350px; 
        display:block;
        background:white;
        z-index:2;
    }

    
}

@media screen and (max-width: 400px) {

	nav{
		.logo-section{
			

			.svg-logo{
				max-width:70px;
			}
			.name-title{
				h3{
					font-size:1.5rem;
					margin-bottom:-4px;
				}
				p{
					font-size:0.7rem;
				}
			}
		}
	}
}