@import './variables.scss';
html,
body {
  padding: 0;
  margin: 0;
  background-color:$darkColor;
  color:$fontColor;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover{
    color:$primaryColor;
  }
}

* {
  box-sizing: border-box;
}


.container{
  max-width:900px;
  margin:0 auto;
}

button{
  margin:0;
  background-color: $primaryColor;
  color:$darkColor;
  border:none;
  border-radius: 5px;
  padding:.5rem;
  font-weight:600;
  margin-top:.5rem;
  cursor:pointer;
  &:hover{
      background-color: darken($primaryColor, 20%);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: darken($darkColor, 5%);
}

/* Track */
::-webkit-scrollbar-track {
  background: darken($darkColor, 5%);
  color: darken($darkColor, 5%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darken($fontColor, 70%);
  border-radius: 60px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $fontColor;
}