@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.navigation{
    color:$fontColor;
    padding-top:1rem;
    ul{
        list-style:none;
        padding:0;
        text-align: right;

        li{
            display:inline;
            margin-right:1rem;
            &:last-child{
                margin-right:0;
            }
            .line{
                height:1px;
                width:100px;
                position: relative;
                top: -5px;
                background-color:$fontColor;
                display: inline-block;
            }
        }
    }
}

.socialIcons{
    position:fixed;
    left:20px;
    ul{
        margin:0;
        list-style:none;
        padding:0;
        li{
            margin-bottom:.5rem;
            .line{
                height:150px;
                width:1px;
                background-color:$fontColor;
                margin:0 auto;
            }
            svg{
                width:20px;
            }
        }
    }
}

.main{
    padding-left:1rem;
    padding-right:1rem;
}

.heroWrapper{
    text-align: center;
    max-width:600px;
    margin:0 auto;
    margin-top:8rem;


    p{
        margin:0;
        line-height:1.5;
        margin-bottom:.5rem;
    }
    h3{
        font-weight:300;
        font-size:2rem;
        line-height:1.5;
        margin:0;
        margin-bottom:.5rem;
    }
    h1{
        line-height: 1;
        font-size:4rem;
        margin:0;
        margin-bottom:.5rem;
    }
    button{
        margin:0;
        background-color: $primaryColor;
        color:$darkColor;
        border:none;
        border-radius: 5px;
        padding:.5rem;
        font-weight:300;
        margin-top:.5rem;
        cursor:pointer;
        &:hover{
            background-color: darken($primaryColor, 20%);
        }
    }
    .highlight{
        color:$primaryColor;
    }
}

.copySection{
    margin-top:8rem;
    h2{
        color:$primaryColor;
        text-transform: uppercase;
    }
}

.aboutMe{
    .copyGrid{
        display:grid;
        grid-template-columns: 1fr 1fr;
        p{
            margin-top:0;
        }
        .profilePicWrapper{
            img{
                border-radius: 5px;
            }
            margin:0 auto;
            max-width:400px;
        }
        .item{
            ul{
                list-style:none;
                padding-left: 0em;
                li{
                    &:before {
                        content: '';
                        display: inline-block;
                        height: 8px;
                        width: 8px;
                        background-image: url(/images/bulletPoint.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-right:0.5em;   
                        position:relative;
                        top:-2px;
                      }
                }
            }
            .ulGrid{
                display: grid;
                grid-template-columns: 2fr 6fr;
            }
        }
    }
}

